{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn-dark primary border">{{ button_label|default('Enregister') }}</button>
    </div>
{{ form_end(form) }}
